:root{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --green: #299c29;
  --sandy: #eed89d;
  --canvas-size: 100vh;
 --canvas-factor: 0.8;
}

html, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  width: 100%;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  /* checkerboard bg, green  and sandy */
  background: linear-gradient(45deg, var(--green) 25%, transparent 25%, transparent 75%, var(--green) 75%, var(--green)), linear-gradient(45deg, var(--green) 25%, transparent 25%, transparent 75%, var(--green) 75%, var(--green));
  background-size: 40px 40px;
  background-color: var(--sandy);
  background-position: 0 0, 20px 20px;


}

canvas{

position: absolute;
  aspect-ratio: 1/1 !important;
  z-index: 1;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
box-shadow: 0 0 200px rgba(0, 0, 0, 0.411), 0 0 10px rgba(7, 7, 7, 0.726);
  border-radius: 10px;
}


#startMenu {
  position: absolute;
  top: calc(50vh - (var(--canvas-size) / 2));
  left: calc(50vw - (var(--canvas-size) / 2));
  width: var(--canvas-size);
  height: var(--canvas-size);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  z-index: 2;
}

#startMenu button{
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background: var(--green);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

#startMenu button:hover{
  background: #1f7f1f;
}

#startMenu #title{
  font-family: 'serif';
  font-size: 5rem;
  margin-bottom: 20px;
  text-shadow: #42ff428c 0px 0px 12px, #000 0px 0px 100px;
}

#pauseButton{
  position: absolute;
  z-index: 2;
  top: calc(50vh - (var(--canvas-size) / 2) + 10px);
  right: calc(50vw - (var(--canvas-size) / 2) + 10px);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background: var(--green);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

#towerSelector{
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 2;
    top: calc(50vh - (var(--canvas-size) / 2) + (60px * var(--canvas-factor)));
    left: calc(50vw + (var(--canvas-size) / 2) - (150px * var(--canvas-factor)));
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  display: none;
}

.towerCard {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
   /* Adjust based on your design */

  margin: calc(10px * var(--canvas-factor));
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f95d; 
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.towerCard:hover,
.towerCard.active {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(231, 231, 231, 0.637), 0 8px 16px rgba(231, 231, 231, 0.486);
}

.towerCard p{
  margin: 0;
  padding: none;
  width: 100%;
  text-align: center;
  border-radius: 8px 8px 0 0;

}

.towerIcon {
  width: calc(80px * var(--canvas-factor)); /* Adjust based on your design */
  height:calc(80px * var(--canvas-factor)); /* Adjust to maintain aspect ratio */
  object-fit: contain; /* Keeps the image aspect ratio */
}